In [ ]:
import pandas as pd
import pydotplus
from IPython.display import Image
from sklearn import tree

In [ ]:
data = pd.read_csv('stroke.csv')
data.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data['gender']=enc.fit_transform(data['gender'].values)
data['hypertension']=enc.fit_transform(data['hypertension'].values)
data['heart_disease']=enc.fit_transform(data['heart_disease'].values)
data['ever_married']=enc.fit_transform(data['ever_married'].values)
data['work_type']=enc.fit_transform(data['work_type'].values)
data['Residence_type']=enc.fit_transform(data['Residence_type'].values)
data['bmi']=enc.fit_transform(data['bmi'].values)
data['smoking_status']=enc.fit_transform(data['smoking_status'].values)

In [ ]:
atr_data = data.drop(columns='stroke')
atr_data.head()

      id  gender   age  ...  avg_glucose_level  bmi  smoking_status
0   9046       1  67.0  ...             228.69  239               1
1  51676       0  61.0  ...             202.21  475               2
2  31112       1  80.0  ...             105.92  198               2
3  60182       0  49.0  ...             171.23  217               3
4   1665       0  79.0  ...             174.12  113               2

[5 rows x 11 columns]

In [10]:
cls_data=data['stroke']
cls_data.head()

0    1
1    1
2    1
3    1
4    1
Name: stroke, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [12]:
x_train, x_test, y_train, y_test = train_test_split(atr_data, cls_data, test_size=0.3, random_state=0)
tree_data = DecisionTreeClassifier(random_state=0)
tree_data.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [13]:
print ('Nilai Akurasi:', tree_data.score(x_test, y_test))

Nilai Akurasi: 0.9210697977821265

In [14]:
from sklearn.tree import export_graphviz
export_graphviz(tree_data, out_file='tree_stroke.dot', class_names=["1","0"],
                feature_names=atr_data.columns, impurity=False, filled=True)

In [15]:
import graphviz
from sklearn.tree import export_graphviz
with open('tree_stroke.dot') as fig:
  dot_graph = fig.read()
  graphviz.Source(dot_graph)